*{
	margin: 0;
	padding: 0;
}
/* Titles */
.title{
	text-align: center;
	font-size: 20px;
}
.subtitle{
	text-align: center;
	padding: 0;
}

/* Container */
.container{
	width: 100%;
	height: 100vh;
}

/* Nav */
.container-c{
	background-color: #C8EDE6;
	width: 100%;
	height: 100vh;
	display: flex;
}
.navbar{
	padding: 20px;
	display: flex;
}
.nav-logo{
	flex: 1;
}
.nav-title{
	flex: 1;
	text-align: center;
	font-size: 25px;
}
.nav-button{
	flex: 1;
	text-align: right;
}
.nav-button button{
	cursor: pointer;
	font-size: 24px;
	border-style: solid;
	background-color: #C8EDE6;
	border-radius: 50px;
	padding: 5px 15px;
	width: 300px;
	height: 50px;
}
.nav-button button:hover{
	background-color: #D9D9D9;
}

/* Hero */
.hero{
	display: flex;
}
.hero-text{
	padding: 0px 80px;
	flex: 1;
	text-align: center;
}
.hero-text h1{
	font-size: 50px;
}
.hero-text p{
	font-size: 30px;
	opacity: 0.5;
}
.hero-logo{
	flex: 1;
	text-align: center;
}
.hero-logo img{
	width: 50%;
	height: 100%;
}

/* Description */
.description{
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	gap: 30px;
}
.text{
	margin: 20px 32px;
	flex: 1;
	border: none;
	padding: 32px;
	height: 150px;
	border-radius: 50px;
	background-color: #C8EDE6;
}
.text p{
	opacity: 0.5;
	font-size: 25px;
	text-align: center;
}
.text h1{
	font-size: 25px;
}
.text button{
	border-radius: 100%;
	border: none;
	background-color: #D9D9D9;
	height: 20px;
	cursor: pointer;
}
.text button:hover{
	background-color: grey;
}

/* Sidebar */
.sidebar{
	background-color: white;
	padding: 20px;
	width: 350px;
	height: 100vh;
	text-align: center;
}
.side-nav a{
	display: block;
	font-size: 50px;
	text-decoration: none;
	color: black;
}
.side-nav a:hover {
	background-color: #C8EDE6;
}

/* Calculator */
.calculator{
	padding: 50px;
	flex: 1;
	text-align: center;
}
.input input{
	border: 1px solid black;
	width: 300px;
	height: 35px;
	background-color:  #C8EDE6;
	opacity: 0.5;
	border-radius: 50px;
}

/* Buttons */
.button button{
	border: 1px solid black;
	width: 250px;
	height: 30px;
	border-radius: 50px;
	background-color: #D9D9D9;
	cursor: pointer;
}
.button button:hover{
	background-color: grey;
}

/* Table */
.table{
	display: flex;
	justify-content: center;
}
.table table, th, td{
	border: 1px solid;
	border-collapse: collapse;
	padding: 8px;
}

/* Links */
a{
	text-decoration: none;
	color: #787878;
}
.delete-btn{
	border-radius: 20%;
	border: 1px solid black;
	cursor: pointer;
}